@font-face {
  font-family: 'Samsung Sharp Sans';
  src: url('/fonts/samsungsharpsans.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Samsung Sharp Sans';
  src: url('/fonts/samsungsharpsans-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Samsung Sharp Sans';
  src: url('/fonts/samsungsharpsans-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@import './color.css';
@import './radius.css';
@import './typography.css';
@import './layout.css';
